<label>
    <input id="{{ datatable.name }}-column-{{ column.index }}"
           data-search-column-index="{{ column.index }}"
            {% if column.filter.placeholder != null %}
                placeholder="{{ column.filter.placeholder|trans }}"
            {% endif %}
           value="{{ (datatable.state.searchColumns[column.name] is defined)? datatable.state.searchColumns[column.name].value : ''}}">
</label>
